.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiIHJ-XOQxhhhJf2bElwPyVECcpwRWLi4Ds77J2U69j6LlaHmavvuYS-9i-pRKnr3tFew&usqp=CAU");
    background-size: cover;
  }
  
  .registerTitle {
    position: relative;
    font-size: 27px;
    font-weight: 600;
  }
  
  .registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: #4070f4;
    text-decoration: none;
  }
  
  .registerForm > label {
    margin: 10px 0;
  }
  
  .registerInput {
   position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
  }
  
  .registerInput:focus {
    outline: none;
  }
  
  .registerButton {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }
  .form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}
.form a:hover{
    text-decoration: underline;
}

.button input:hover{
    background-color: #265df2;
}
